<div class="card-group">
  <div class="card">
    <img src="https://i0.statig.com.br/bancodeimagens/59/w5/p9/59w5p9be9dl29rs4c424tnwmo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Pão Italiano</h5>
      <p class="card-text">Uma verdadeira obra-prima da panificação, nosso pão italiano é sinônimo de tradição e sabor. Com sua crosta dourada e crocante, e miolo macio e arejado, cada pedaço traz o aroma irresistível de um pão feito com ingredientes selecionados e muito carinho. Perfeito para acompanhar qualquer refeição ou para saborear no seu momento de prazer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><b>5$</b></small>
    </div>
  </div>
  <div class="card">
    <img src="https://lirp.cdn-website.com/33406c6e/dms3rep/multi/opt/historia-do-croissant-1920w.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> croissant</h5>
      <p class="card-text">Macio por dentro, crocante por fora, nosso croissant é a definição de perfeição em cada camada. Feito com massa folhada de altíssima qualidade, ele derrete na boca e é a escolha ideal para um café da manhã ou lanche cheio de sabor e aconchego. Sinta a delicadeza e o aroma irresistível que tornam cada mordida uma verdadeira experiência gourmet</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><b>7$</b></small>
    </div>
  </div>
  <div class="card">
    <img src="https://cdn.sistemawbuy.com.br/arquivos/3d964e0c48d236cab37a630804b4171a/produtos/65a54acf414a1/cappuccino-01-rdc-6506e1fe84bb3-65a54cb6de262.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">café</h5>
      <p class="card-text">Preparado com grãos selecionados e moídos na hora, nosso café traz a intensidade e o sabor envolvente que só um verdadeiro café de qualidade pode oferecer. Seja forte e encorpado ou suave e aromático, ele é a escolha perfeita para despertar seus sentidos e proporcionar aquele momento de prazer único. Ideal para acompanhar qualquer momento do seu dia, nosso café é uma verdadeira celebração de sabor e aconchego.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><b>2$</b></small>
    </div>
  </div>
</div>



